:host {
  --sui-button-width: auto;
  --sui-button-height: auto;
  --sui-button-display: inline-block;
  --sui-button-padding: calc(var(--sui-spacing-1) * 1px) calc(var(--sui-spacing-1) * 1px);
  --sui-button-margin: 0;
  --sui-button-color: var(--sui-colors-text-inverted, var(--sui-colors-white));
  --sui-button-background-color: var(--sui-colors-primary, transparent);
  --sui-button-font-size: var(--sui-fonts-sizes-body, inherit);

  width: var(--sui-button-width);
  min-width: var(--sui-button-min-width);
  max-width: var(--sui-button-max-width);
  height: var(--sui-button-height);
  max-height: var(--sui-button-max-height);
  min-height: var(--sui-button-min-height);

  color: var(--sui-button-color);
  background-color: var(--sui-button-background-color);

  font-size: var(--sui-button-font-size);
  text-align: var(--sui-button-text-align);
  line-height: var(--sui-button-line-height);
  font-weight: var(--sui-button-font-weight);
  letter-spacing: var(--sui-button-letter-spacing);

  border: var(--sui-button-border);
  border-top: var(--sui-button-border-top);
  border-bottom: var(--sui-button-border-bottom);
  border-left: var(--sui-button-border-left);
  border-right: var(--sui-button-border-right);
  border-width: var(--sui-button-border-width);
  border-style: var(--sui-button-border-style);
  border-color: var(--sui-button-border-color);
  border-radius: var(--sui-button-border-radius);

  /* Button */
  --sui-button-bg-image: none;

  /* Text */
  --sui-button-text-transform: none;
  --sui-button-tap-color: transparent;
  --sui-button-text-shadow: none;
  --sui-button-text-shadow-inverted: var(--sui-shadows-text);
  --sui-button-border-radius: var(--sui-borders-radius);
  --sui-button-vertical-align: baseline;

  /* Internal Shadow */
  --sui-button-shadow-distance: 0em;
  --sui-button-shadow-offset: (var(--sui-button-shadow-distance) / 2);
  --sui-button-shadow-box-shadow: 0px calc(var(--sui-button-shadow-distance) * -1) 0px 0px var(--sui-borders-color) inset;

  /* Box Shadow */
  --sui-button-border-box-shadow-color: transparent;
  --sui-button-border-box-shadow-width: 1px;
  --sui-button-border-box-shadow: 0px 0px 0px var(--sui-button-border-box-shadow-width) var(--sui-button-border-box-shadow-color) inset;
  --sui-button-box-shadow: var(--sui-button-border-box-shadow),
    var(--sui-button-shadow-box-shadow);

  /* Icon */
  --sui-button-icon-height: var(--sui-sizes-tiny);
  --sui-button-icon-opacity: 0.8;
  --sui-button-icon-distance: 0.4em;
  --sui-button-icon-color: "";
  --sui-button-icon-transition: opacity var(--sui-animation-duration) var(--sui-animation-easing);
  --sui-button-icon-vertical-align: "";

  --sui-button-icon-margin: 0em var(--sui-button-icon-distance) 0em - (var(--sui-button-icon-distance) / 2);
  --sui-button-right-icon-margin: 0em - (var(--sui-button-icon-distance) / 2) 0em var(--sui-button-icon-distance);

  /* Loader */
  --sui-button-inverted-loader-fill-color: rgba(0, 0, 0, 0.15);

  --sui-button-transition: opacity var(--sui-animation-duration) var(--sui-animation-easing),
    background-color var(--sui-animation-duration) var(--sui-animation-easing),
    color var(--sui-animation-duration) var(--sui-animation-easing),
    box-shadow var(--sui-animation-duration) var(--sui-animation-easing),
    background var(--sui-animation-duration) var(--sui-animation-easing);

  --sui-button-will-change: "";

  /*******************************
            Button Styles
  *******************************/
  cursor: pointer;
  display: var(--sui-button-display);

  min-height: 1em;

  outline: none;
  vertical-align: var(--sui-button-vertical-align);

  font-family: var(--sui-button-font-family);

  /* margin: 0em var(--sui-button-margin-horizontal) var(--sui-button-margin-vertical) 0em; */
  /* padding: var(--sui-button-padding-vertical) var(--sui-button-padding-horizontal) calc(var(--sui-button-padding-vertical) + var(--sui-button-shadow-offset)); */

  text-transform: var(--sui-button-text-transform);
  text-shadow: var(--sui-button-text-shadow);
  font-style: normal;
  text-decoration: none;

  border-radius: var(--sui-button-border-radius);
  box-shadow: var(--sui-button-box-shadow);

  user-select: none;
  transition: var(--sui-button-transition);
  will-change: var(--sui-button-will-change);

  -webkit-tap-highlight-color: var(--sui-button-tap-color);
}

.sui-button {
  width: 100%;
  display: block;
  background: transparent;
  border: none;
  color: inherit;

  padding: var(--sui-button-padding);
  margin: var(--sui-button-margin);
}

@media only screen and (min-width: 400px) {
  :host {
    width: var(--sui-button-width-mobile, var(--sui-button-width));
    max-width: var(--sui-button-max-width-mobile, var(--sui-button-max-width));
    min-width: var(--sui-button-min-width-mobile, var(--sui-button-min-width));
    height: var(--sui-button-height-mobile, var(--sui-button-height));
    max-height: var(--sui-button-max-height-mobile, var(--sui-button-max-height));
    min-height: var(--sui-button-min-height-mobile, var(--sui-button-min-height));

    font-size: var(--sui-button-font-size-mobile, var(--sui-button-font-size));
    text-align: var(--sui-button-text-align-mobile, var(--sui-button-text-align));
  }

  .sui-button {
    padding: var(--sui-button-padding-mobile, var(--sui-button-padding));
    margin: var(--sui-button-margin-mobile, var(--sui-button-margin));
  }
}

@media only screen and (min-width: 800px) {
  :host {
    width: var(--sui-button-width-tablet, var(--sui-button-width));
    max-width: var(--sui-button-max-width-tablet, var(--sui-button-max-width));
    min-width: var(--sui-button-min-width-tablet, var(--sui-button-min-width));
    height: var(--sui-button-height-tablet, var(--sui-button-height));
    max-height: var(--sui-button-max-height-tablet, var(--sui-button-max-height));
    min-height: var(--sui-button-min-height-tablet, var(--sui-button-min-height));

    font-size: var(--sui-button-font-size-tablet, var(--sui-button-font-size));
    text-align: var(--sui-button-text-align-tablet, var(--sui-button-text-align));
  }

  .sui-button {
    padding: var(--sui-button-padding-tablet, var(--sui-button-padding));
    margin: var(--sui-button-margin-tablet, var(--sui-button-margin));
  }
}

@media only screen and (min-width: 1200px) {
  :host {
    width: var(--sui-button-width-desktop, var(--sui-button-width));
    max-width: var(--sui-button-max-width-desktop, var(--sui-button-max-width));
    min-width: var(--sui-button-min-width-desktop, var(--sui-button-min-width));
    height: var(--sui-button-height-desktop, var(--sui-button-height));
    max-height: var(--sui-button-max-height-desktop, var(--sui-button-max-height));
    min-height: var(--sui-button-min-height-desktop, var(--sui-button-min-height));

    font-size: var(--sui-button-font-size-desktop, var(--sui-button-font-size));
    text-align: var(--sui-button-text-align-desktop, var(--sui-button-text-align));
  }

  .sui-button {
    padding: var(--sui-button-padding-desktop, var(--sui-button-padding));
    margin: var(--sui-button-margin-desktop, var(--sui-button-margin));
  }
}
