sui-select {
  position: relative;
  display: flex;
  width: 100%;
}

sui-select select.sui-select {
  display: block;
  width: 100%;
  padding: calc(var(--sui-spacing-2) * 1px);
  appearance: none;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid;
  border-radius: var(--sui-borders-radius);
  color: inherit;
  background-color: transparent;
}

sui-select svg {
  fill: var(--sui-colors-text, #010101);
  margin-left: -28px;
  align-self: center;
}
